PORT=...
DISCORD_TOKEN=...
JWT_SECRET=...
DISCORD_GUILD_ID=...
DISCORD_STUDENT_ROLE_ID=...
DISCORD_MENTOR_ROLE_ID=...
SUPABASE_URL=...
SUPABASE_KEY=...
DISCORD_CLIENT_ID=...
DISCORD_CLIENT_SECRET=...
REDIRECT_URI=...
OPENROUTER_API_KEY=...
OPENROUTER_MODEL=...
NODE_ENV=...
FRONTEND_URL=...
ACCESS_TOKEN_SECRET=...
REFRESH_TOKEN_SECRET=...
